In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

# Maximazing the Dsiplay
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)
pd.set_option('display.width', None)

from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

water_treatment= pd.read_excel('/kaggle/input/water_treatment.xlsx',header=None)
print (water_treatment.head())

# PREPROCESSING

# Droping unneccessary columns
water_treatment= water_treatment.drop([0],axis=1)
print ('Number of columns and rows',water_treatment.shape)
print ('Type of each column',water_treatment.dtypes)

# Missing Values

# replacing '?' by 0
water_treatment=water_treatment.replace('?', 0)
# Converting all in to float
water_treatment = water_treatment.apply(lambda x: x.astype(np.float64), axis=1)
# Now we can have all the relevant statistics of each column
print (water_treatment.describe())

# Replacing '0' of each column with average value
water_treatment=water_treatment.replace(0.0,water_treatment.mean())
print (water_treatment.head())

/kaggle/input/water_treatment.xlsx
         0      1    2    3    4    5    6     7    8     9    10   11   12  \
0  D-1/3/90  44101  1.5  7.8    ?  407  166  66.3  4.5  2110  7.9    ?  228
1  D-2/3/90  39024    3  7.7    ?  443  214  69.2  6.5  2660  7.7    ?  244
2  D-4/3/90  32229    5  7.6    ?  528  186  69.9  3.4  1666  7.7    ?  220
3  D-5/3/90  35023  3.5  7.9  205  588  192  65.6  4.5  2430  7.8  236  268
4  D-6/3/90  36924  1.5  8.0  242  496  176  64.8    4  2110  7.9    ?  236

     13   14    15   16   17   18  19    20   21    22   23  24   25  26  \
0  70.2  5.5  2120  7.9    ?  280  94  72.3  0.3  2010  7.3   ?   84  21
1  75.4  7.7  2570  7.6    ?  474  96  79.2  0.4  2700  7.5   ?   91  17
2  72.7  4.5  1594  7.7    ?  272  92  78.3  0.2  1742  7.6   ?  128  21
3  73.1  8.5  2280  7.8  158  376  96  77.1  0.4  2060  7.6  20  104  20
4  57.6  4.5  2020  7.8    ?  372  88  68.2  0.2  2250  7.6  19  108  22

     27    28    29    30    31    32    33    34    35    36    37    38
0    81  0.02  2000     ?  58.8  95.5     ?    70     ?  79.4  87.3  99.6
1  94.1     0  2590     ?  60.7  94.8     ?  80.8     ?  79.5  92.1   100
2    81  0.05  1888     ?  58.2  95.6     ?  52.9     ?  75.8  88.7  98.5
3  96.7     0  1840  33.1  64.2  95.3  87.3  72.3  90.2  82.3  89.6   100
4  65.9  0.02  2120     ?  62.7  95.6     ?    71  92.1  78.2  87.5  99.5
Number of columns and rows (527, 38)
Type of each column 1      object
2      object
3     float64
4      object
5      object
6      object
7      object
8      object
9       int64
10    float64
11     object
12      int64
13     object
14     object
15      int64
16    float64
17     object
18     object
19     object
20     object
21     object
22      int64
23     object
24     object
25     object
26     object
27     object
28     object
29     object
30     object
31     object
32     object
33     object
34     object
35     object
36     object
37     object
38     object
dtype: object
                 1           2           3           4           5   \
count    527.000000  527.000000  527.000000  527.000000  527.000000
mean   35955.072106    2.345636    7.810057  180.478178  402.265655
std     9398.572962    2.747407    0.246175   71.921026  127.236306
min        0.000000    0.000000    6.900000    0.000000    0.000000
25%    32557.500000    0.890000    7.600000  139.500000  323.500000
50%    35729.000000    1.500000    7.800000  179.000000  397.000000
75%    41094.000000    3.000000    8.000000  222.000000  474.500000
max    60081.000000   33.500000    8.700000  438.000000  941.000000

                6           7           8            9           10  \
count   527.000000  527.000000  527.000000   527.000000  527.000000
mean    227.013283   60.111765    4.375901  1478.620493    7.829981
std     136.172216   15.102720    2.850757   394.898019    0.226925
min       0.000000    0.000000    0.000000   651.000000    7.300000
25%     170.000000   55.350000    3.000000  1201.000000    7.700000
50%     196.000000   64.000000    4.200000  1406.000000    7.800000
75%     242.000000   69.600000    5.500000  1672.000000    8.000000
max    2008.000000   85.000000   36.000000  3230.000000    8.500000

               11           12          13          14           15  \
count  527.000000   527.000000  527.000000  527.000000   527.000000
mean   190.555977   253.952562   59.110247    4.804364  1496.034156
std     90.337833   147.458468   15.000843    3.436098   402.588656
min      0.000000   104.000000    0.000000    0.000000   646.000000
25%    140.000000   184.000000   53.300000    3.000000  1217.000000
50%    190.000000   220.000000   62.500000    4.500000  1420.000000
75%    238.500000   272.000000   68.800000    6.000000  1713.500000
max    517.000000  1692.000000   93.500000   46.000000  3170.000000

               16          17          18          19          20          21  \
count  527.000000  527.000000  527.000000  527.000000  527.000000  527.000000
mean     7.811954  115.848197  269.366224   93.867173   71.168501    0.396964
std      0.199594   45.302235   81.624853   24.640792   15.338993    0.381500
min      7.100000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      7.700000   93.000000  216.000000   78.000000   66.700000    0.200000
50%      7.800000  118.000000  272.000000   90.000000   74.000000    0.300000
75%      7.900000  147.000000  325.000000  106.000000   79.350000    0.500000
max      8.400000  285.000000  511.000000  244.000000  100.000000    3.500000

                22          23          24          25          26  \
count   527.000000  527.000000  527.000000  527.000000  527.000000
mean   1490.569260    7.695256   19.115750   84.313093   22.024668
std     399.990816    0.384486   17.679333   41.507280   16.401722
min      85.000000    0.000000    0.000000    0.000000    0.000000
25%    1225.500000    7.600000   13.000000   62.000000   14.000000
50%    1428.000000    7.700000   17.000000   82.000000   19.000000
75%    1701.000000    7.800000   22.000000  100.000000   24.000000
max    3690.000000    9.700000  320.000000  350.000000  238.000000

               27          28           29          30          31  \
count  527.000000  527.000000   527.000000  527.000000  527.000000
mean    77.566224    0.035104  1491.981025   34.487476   58.074573
std     16.795036    0.191679   392.969619   18.759651   13.729622
min      0.000000    0.000000     0.000000    0.000000    0.000000
25%     74.300000    0.000000  1234.000000   24.050000   50.450000
50%     80.600000    0.010000  1431.000000   36.900000   59.300000
75%     85.700000    0.020000  1691.500000   47.650000   66.800000
max    100.000000    3.500000  3950.000000   79.100000   96.100000

               32          33          34          35          36          37  \
count  527.000000  527.000000  527.000000  527.000000  527.000000  527.000000
mean    85.914801   77.114231   64.471537   82.933017   74.163188   87.612903
std     21.800297   23.684939   18.558509   23.478742   18.700047   13.605586
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%     87.850000   79.200000   61.400000   86.650000   72.750000   87.050000
50%     93.300000   85.000000   69.300000   89.900000   78.700000   90.700000
75%     95.700000   87.700000   75.000000   92.300000   83.200000   93.000000
max    100.000000   94.700000   96.800000   97.000000   98.100000   99.400000

               38
count  527.000000
mean    93.257685
std     23.733755
min      0.000000
25%     99.200000
50%     99.700000
75%    100.000000
max    100.000000